.CheckoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CheckoutProduct__image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}
.CheckoutProduct__info {
  padding-left: 20px;
}
.CheckoutProduct__info > button {
  background-color: orange;
  border: 1px solid;
  width: 100%;
}
.CheckoutProduct__rating {
  display: flex;
}
.CheckoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
