.home__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin-bottom: -150px;
  z-index: -1;
}
.home {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: horizontal;
}
.parent {
  width: 100%;
  height: 100%;
}
.home__row {
  display: flex;
  flex-direction: horizontal;
  margin-left: 5px;
  margin-right: 5px;
}
